@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bassa+Vah:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  @apply scrollbar-thumb-gray-500 scrollbar-track-gray-100 scrollbar-thin;
}

@layer {
  .header-style {
    @apply w-screen h-12 shadow-md fixed top-0 bg-base-500 lg:h-20;
  }
  .main-style {
    @apply pt-12 max-h-full min-h-screen w-screen;
  }
  .footer-style {
    @apply flex flex-col items-center gap-4 justify-center w-screen py-4 bottom-0 bg-base-500;
  }
  .x-space-none {
    @apply -mx-4;
  }
  .span-text {
    @apply font-gloock;
  }
}
.styled-border {
  @apply outline-2 outline-slate-900 border-slate-800 border;
}
.icon-general {
  @apply p-2 text-3xl flex justify-center items-center rounded border border-black hover:bg-base-500 shadow-lg cursor-pointer hover:brightness-125;
}
.SlSocialGoogle {
  @apply rounded;
}
.SlSocialInstagram {
  @apply rounded;
}
.SlSocialLinkedin {
  @apply rounded;
}
.SlSocialTwitter {
  @apply rounded;
}
.slider {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}
/* 
.slider .slide-track {
  display: flex;
  width: calc(300px * 8);
} */

.slider .slide img {
  width: 100%;
}
